<!DOCTYPE HTML>
<html lang="en">
    <head>
	<title></title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
	<div class="main">
	    <div class="top">
		<div class="left">
		</div>
		<div class="centre">
		    <div class="media">
			<!-- <video id="video" width="640" height="480" muted>-->
			<video id="video" width="640" height="480" muted mediagroup="train">
			    <source id="mp4" type="video/mp4" />
			</video>
			<!--<audio id="audio" mediagroup="train">-->
			<audio id="audio">
			    <source id="wav" type="audio/wav" />
			</audio>
		    </div>
		    <div class="buttons">
			<button class="btn" onclick="pause()" style="background-color:transparent; border-color:transparent;">
			    <img src="{{ url_for('static', filename='pause32.png') }}" alt="Snow">
			</button>
			<button class="btn" onclick="play()" style="background-color:transparent; border-color:transparent;">
			    <img src="{{ url_for('static', filename='play32.png') }}" alt="Snow">
			</button>
			<button class="btn" onclick="rewind()" style="background-color:transparent; border-color:transparent;">
			    <img src="{{ url_for('static', filename='rewind32.png') }}" alt="Snow">
			</button>
		    </div>
		</div>
		<div class="right">
		    <div><h1 id="abat-heading0"></h1></div>
		    <div><h2 id="abat-heading1"></h2></div>
		    <div id="abat-text1" class="text"></div>
		    <div><h2 id="abat-heading2"></h2></div>
		    <div id="abat-text2" class="text"></div>
		    <div><h2 id="abat-heading3"></h2></div>
		    <div id="abat-text3" class="text"></div>
		</div>
	    </div>
	    <div class="bottom">
		<div class="container">
		    <div class="column">
			<div class="container">
			    <h3>{{ config['train-label'] }}</h3>
			</div>	
			<div class="container">
			    <select onchange="trainSelect()" id="train">
				{% for train in config['trains'] %}
				<option value='{{loop.index0}}'>{{train['name']}}</option>
				{% endfor %}
			    </select>
			</div>
		    </div>
		    <div class="column">
			<div class="container">
			    <h3>{{ config['abatment-label'] }}</h3>
			</div>
			<div class="container">
			    <select onchange="abatmentSelect()" id="abatment" name="abatment">
				{% for abatment in config['abatments'] %}
				<option id='abatment-{{loop.index0}}' value='{{loop.index0}}'>{{abatment['name']}}</option>
				{% endfor %}
			    </select>
			</div>
		    </div>
		    <div class="column">
			<div class="container">
			    <h3>{{ config['distance-label'] }}</h3>
			</div>	
			<div class="container">
			    <select onchange="distanceSelect()" id="distance" name="distance">
				{% for distance in config['distances'] %}
				<option id='distans-{{loop.index0}}' value='{{loop.index0}}'>{{distance}}</option>
				{% endfor %}
			    </select>
			</div>
		    </div>
		    <div class="column">
			<div class="container">
			    <h3>{{ config['height-label'] }}</h3>
			</div>	
			<div class="container">
			    <select onchange="heightSelect()" id="height" name="height">
				{% for height in config['heights'] %}
				<option  id='height-{{loop.index0}}' value='{{loop.index0}}'>{{height}}</option>
				{% endfor %}
			    </select>
			</div>
		    </div>

		</div>
	    </div>
	    
	</div>
	<div class="column">
	    <div class="container" >
		<p id="stat"></p>
	    </div>
	</div>

	<script>
	 var xhttp = new XMLHttpRequest();
	 var xhttp1 = new XMLHttpRequest();
	 var xhttp2 = new XMLHttpRequest();
	 var video = document.getElementById("video");
	 var mp4 = document.getElementById("mp4");
	 var audio = document.getElementById("audio");
	 var wav = document.getElementById("wav");
	 var stat = document.getElementById("stat");
	 var abatment = document.getElementById("abatment");
	 var train = document.getElementById("train");
	 var distance = document.getElementById("distance");
	 var height = document.getElementById("height");
	 var playing = false;
	 
	 document.addEventListener("DOMContentLoaded", function(event) {
             console.log("DOM fully loaded and parsed");
             console.log("Page is Loaded!");
             abatmentSelect();
             trainSelect();
	 }, true);
	 
	 handleSize();
	 
	 video.addEventListener("ended", function( ){ video.play(); audio.currentTime = 0; audio.play();  }, true);
	 video.addEventListener("pause", function( ){ audio.pause();  }, true);

	 function handleSize(){
	     var w = window.innerWidth;
	     var h = window.innerHeight;
	     //stat.innerHTML = "Loaded! w: " + w + " h: " + h;
	 }
	 function whenLoaded( ){
             //stat.innerHTML = "Loaded!";
	 }
	 function play() {
	     playing = true
             audio.currentTime = video.currentTime;
             video.play();
             audio.play();
	 }
	 function loadAudio(clip) {
	     wav.src = clip;
	     audio.load();
	     audio.currentTime = video.currentTime;
	     if (playing) {
		 audio.play();
	     }
	 }
	 function pause() {
	     playing = false
             video.pause();
             audio.pause();
	 }
	 function rewind() {
             video.currentTime = 0;
             audio.currentTime = 0;
             //xhttp.open("GET", "/rewind", true);
             //xhttp.send();
	 }
	 function sync_audio() {
             audio.currentTime = video.currentTime;
	 }
	 function reload() {
             video.load();
             audio.load();
	 }
	 function activateOptions(opt) {
	     console.log(opt);
	     for (i=0; i < abatment.options.length; i++) {
		 abatment.options[i].disabled = true;
	     }
	     for (i=0; i < opt[0].length; i++) {
		 abatment.options[opt[0][i]].disabled = false;
	     }
	     for (i=0; i < distance.options.length; i++) {
		 distance.options[i].disabled = true;
	     }
	     for (i=0; i < opt[1].length; i++) {
		 distance.options[opt[1][i]].disabled = false;
	     }
	     for (i=0; i < height.options.length; i++) {
		 height.options[i].disabled = true;
	     }
	     for (i=0; i < opt[2].length; i++) {
		 height.options[opt[2][i]].disabled = false;
	     }
	     abatment.selectedIndex = opt[3];
	     distance.selectedIndex = opt[4];
	     height.selectedIndex = opt[5];
	 }
	 function abatmentSelect(){
             xhttp1.onreadystatechange = function() {
		 if (this.readyState == 4 && this.status == 200) {
                     console.log(this.responseText);
                     var obj = JSON.parse(this.responseText);
		     loadAudio(obj['audio'])
		     abat = obj['abatment'];
		     console.log(abat);
		     console.log(abat['description']['heading0']);
		     document.getElementById("abat-heading0").textContent=abat['description']['heading0'];
		     document.getElementById("abat-heading1").textContent=abat['description']['heading1'];
		     document.getElementById("abat-text1").textContent=abat['description']['text1'];
		     document.getElementById("abat-heading2").textContent=abat['description']['heading2'];
		     document.getElementById("abat-text2").textContent=abat['description']['text2'];
		     document.getElementById("abat-heading3").textContent=abat['description']['heading3'];
		     document.getElementById("abat-text3").textContent=abat['description']['text3'];
		     opt = obj['options'];
		     activateOptions(opt);
		 }
             };
	     xhttp1.open("GET", "/abatment?index=" + abatment.value, true);
	     xhttp1.send();
	 }
	 function trainSelect(){
	     train.value;
	     pause();
	     xhttp2.onreadystatechange = function() {
		 if (this.readyState == 4 && this.status == 200) {
		     console.log(this.responseText);
		     var obj = JSON.parse(this.responseText);
		     mp4.src = obj['video'];
		     video.load();
		     loadAudio(obj['audio']);
		     opt = obj['options'];
		     activateOptions(opt);
		 }
	     };
	     xhttp2.open("GET", "/train?index=" + train.value, true);
	     xhttp2.send();
	 }
	 function distanceSelect(){
	     xhttp1.onreadystatechange = function() {
		 if (this.readyState == 4 && this.status == 200) {
		     console.log(this.responseText);
		     var obj = JSON.parse(this.responseText);
		     loadAudio(obj['audio']);
		 }
	     };
	     xhttp1.open("GET", "/distance?index=" + distance.value, true);
	     xhttp1.send();
	 }
	 function heightSelect(){
	     xhttp1.onreadystatechange = function() {
		 if (this.readyState == 4 && this.status == 200) {
		     console.log(this.responseText);
		     var obj = JSON.parse(this.responseText);
		     audioLoad(obj['audio']);
		 }
	     };
	     xhttp1.open("GET", "/height?index=" + height.value, true);
	     xhttp1.send();
	 }
	</script>
    </body>
</html>
