<!doctype html>
<html lang="en">
    <head>
        <title>God ljudmiljö i stationssamhällen</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="main">
            <h1>Verktygslåda och exempel till nytta för klimat, hälsa och resurseffektivitet</h1>
            <div class="top">
		<div class="left">
		</div>
		<div class="center-white">
                    
                    <p>Att bygga infrastruktur och bulleråtgärder är
			dyrt och tar lång tid.</p>
                    <p>Förtätning runt stationer har en potential att
			skapa mer klimatneutrala transporter och ett mer
			resurssnålt resande. En begränsande faktor när man
			förtätar på ett miljö- och hälsomässigt godtagbart
			sätt är den komplexa utmaningen kring ljud och
			vibrationer där ekonomiskt hållbara åtgärder och
			systemlösningar är stora investeringar för orter
			som önskar förtäta och där effekten av en åtgärd
			inte alltid till fullo är känd.​</p>
                    <p>Projektet God Ljudmiljö i Stationsnära
			Samhällen har som syfte att underlätta
			implementering av bulleråtgärder i infrastrukturen
			vid järnvägsstationer genom att ta fram en
			exempelverktygslåda där man kombinerat
			laboratoriemiljö med fältmätningar i ett urval av
			stationsmiljöer tillsammans med modellering,
			simulering, auralisering och visualisering.​</p>
                    <p>Resultatet, en digital exempelverktygslåda som
			i sitt grundutförande går att använda som
			komplement till bullerkartläggning i planprocessen
			för att på förhand, innan investeringen görs,
			kunna höra skillnaden med eller utan en specifik
			åtgärd samt för bullerskärm få siffror på den
			samhällsekonomiska nytta en investering av en
			bullerskärm kan medföra.​</p>
                    <h3>Finansiärer och projektparter​</h3>
                    <p>Projektet finansieras av Infra Sweden2030,
			Trafikverket samt Västra Götalandsregionen och
			dess projektparter utgörs av RISE, Chalmers, VTI,
			Mistra Urban Futures samt InfraSweden2030. För
			ytterligare kontaktuppgifter se koordinerande
			Projektpart RISE <a href= "https://www.ri.se/sv/vad-vi-gor/projekt/god-ljudmiljo-i-stationssamhallen-digitalt-verktyg-bulleratgarder">projekthemsida</a>.</p>
		    <h3>Målgrupp​</h3>
		    <p>Verktygets primära målgrupp är plankontor
                        inom kommun som i tidigt planskede gör
                        bullerkartläggningar och motiverar
                        åtgärdsinvesteringar nära stationsområden och
                        vill kunna lyssna på utfallet av en åtgärd
                        före investeringen görs.</p>
		    <p>Sekundärt kan verktyget användas för
                        att auditoriellt påvisa skillnader i
                        ljudupplevelse mellan åtgärder som en del
                        av ett underlag vid diskussioner med andra
                        behovsägare.</p>
		    
		</div>
		<div class="right">
		</div>
	    </div>
	</div>
    </body>
</html>
