<!doctype html>
<html lang="en">
    <head>
        <title>God ljudmiljö i stationssamhällen</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="main">
            <h1>Verktygslåda och exempel till nytta för klimat, hälsa och resurseffektivitet</h1>
            <div class="top">
		<div class="left">
		</div>
		<div class="center-white">
		    <h2>Hur kan verktyget användas?​</h2>

		    <h3>Att höra skillnader:​</h3>

		    <p>Verktyget kan användas som komplement vid en
		    bullerkartläggning, för att redan i tidigt skede,
		    innan investeringar av bulleråtgärder görs,
		    auditoriellt uppleva skillnader mellan
		    bulleråtgärder.  En ljudupplevelse som beskrivs
		    endast i decibel är svår att förstå och många
		    gånger är den upplevda effekten av större
		    betydelse än den uppmätta nivån.</p>

		    <h3>Samhällsekonomiska nyttor vid investering:​</h3>

		    <p>För en specifik åtgärd, bullerskärmen, så har
			projektet beräknat de samhällsekonomiska nyttorna
			som investeringen i åtgärden bidrar till. ​</p>

		    <h3>Åtgärder:​</h3>

		    <p>Projektet har valt att beskriva ett antal olika
			åtgärder i verktyget. Urvalet är baserar på
			åtgärder som i dagsläget är väl studerade, i
			synnerhet ur beräkningssynpunkt. Detta innebär
			att verktyget innehåller åtgärder som är
			direkt möjliga för målgruppen att investera i
			men även åtgärder som görs direkt på tågbana
			eller i fordon . Idéen med att ta med åtgärder
			som görs på bana och i fordon är att
			målgruppen skall kunna använda verktyget som
			en del av ett diskussionsunderlag med andra
			behovsägare.​</p>

​		    

		    <p>I de fall då man väljer att lyssna på en åtgärd
		    som är möjlig för målgrupp att investera i kommer
		    man även kunna variera mellan specifika avstånd
			samt variera i höjdled.​</p>

​

		    <h2>”Co-creation” – samskapande​</h2>

		    <p>Co-creation bygger på att involvera ett
		    utomstående nätverk för att generera idéer. Under
		    projektets gång så har projektet utvärderat en
		    prototypversion av verktyget med hjälp av
		    projektets målgrupp i form av en
		    workshop. Resultatet av detta samskapande har lett
		    till att verktyget fått tillägg av vissa
		    funktioner och beskrivningar för att underlätta
		    för användaren. Projektet har även fått vägledning
		    ifrån en referensgrupp bestående av representanter
		    för primär samt sekundär målgrupp, vilken har
		    styrt verktyget i riktning mot den primära
			målgruppen.​</p>

​

		    <h2>Verktygets begränsningar​</h2>

		    <p>Det här är den första upplagan av verktyget och
		    den skall således betraktas som en exempelsamling
		    av ett urval av åtgärder och stationsmiljöer och
		    ger en upplevelse/uppskattning utav en
		    stationsmiljö i allmänhet. Beräkningarna är
		    baserade utifrån ett specifikt stationsområde i
		    Ytterby kommun som är projektets valda ”miljö”
		    . Det är möjligt att i framtiden utveckla
		    verktyget för mer specifika platser.  Du som
		    använder verktyget kan ta del av hur vi gjort
		    nyttoberäkningar samt fastighetsvärderingar i
		    informationsrutan om beräkningarna samt ta del av
		    projektets rapport som är placerad i
			DiVa-portalen.​</p>

		    <h2>Ansvarsfrihet​</h2>

		    <p>Detta är inte ett kommersiellt verktyg. Projektet,
		    både finansiärer och projektparter, avsäger sig
		    allt ansvar vid nedladdning och modifiering av
		    verktyget.  Projektet kommer inte stå för
		    underhåll eller justering av verktyget i någon
		    form och tar inte ansvar för hur verktyget används
		    i enskild översikt eller detaljplan eller vid
		    bygglovsärenden. Verktyget kan inte och är inte
		    tänkt att ersätta officiella bullerberäkningar vid
		    översiktsplaner, detaljplaner eller
		    bygglovsärenden utan skall ses som en
		    exempelsamling för stöd i investering av vissa
			bulleråtgärder.​</p>
		    
		</div>
		<div class="right">
		</div>
	    </div>
	</div>
    </body>
</html>

