<!DOCTYPE HTML>
<html lang="en">
    <head>
	<title>stationssamhällen</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
	<div class="main">
	    <h1>Nyttor av bullerdämpande åtgärder i stationssamhällen </h1>
            <div class="top">
		<div class="left">
		</div>
		<div class="center-white">
		    <p>I denna studie skattas nyttorna av bullerdämpande åtgärder i stationssamhällen. Det fall som studeras är en bullerskärm på östra sidan av järnvägen i Ytterby. </p>

		    <p>Vi beräknar den monetära bullerkostaden för
		    individer exponerade för tågbuller i sin bostad i
		    Ytterby. Detta görs för en tänkt utveckling av
		    Ytterby till ett stationssamhälle, vilket innebär
		    en mer frekvent pendeltågstrafik än idag. Denna
		    monetära bullerkostnad beräknas både utan
		    bullerskärm och med bullerskärm, där differensen
		    mellan dessa kostnader tolkas som nyttan av en
			bullerskärm.</p>

		    <p>Därtill använder vi funktioner för den monetära
		    beräkningen från olika källor, dels svensk praxis
		    från Trafikverkets (2018) ASEK-arbete men även
		    från nyligen uppdaterade rekommendationer från WHO
			(2018).</p>

		    <p>Fortfarande preliminära resultat visar att nyttan
		    med bullerskärmen värderas till 120 000 kr per
		    år. Beräknar vi total nytta under 30 år, som är
		    Trafikverkets rekommenderade kalkylperiod för
			lokala bullerskärmar, blir det 2 216 000 kr.</p>

		    <p>Nyttorna beräknat utifrån effektsamband från WHO –
		    där sömnstörningar, övriga direkta störningar och
		    förhöjd risk för hjärtinfarkt ingår som separata
		    delar – blir betydligt högre jämfört med ASEK. Den
		    största posten här är sömnstörningar och där är
		    resultatet mycket känsligt för antagandet om
		    bullernivå nattetid, ett antagande som är behäftat
		    med stor osäkerhet eftersom ingen beräkning
			nattetid är utförd.</p>


		    <h3>Referenser</h3>
		    <p>Trafikverket, 2018, Analysmetod och
		    samhällsekonomiska kalkylvärden för
		    transportsektorn: ASEK 6.1, Kapitel 10 Kostnad för
			buller, In Swedish.</p>

		    <p>WHO, 2018, Environmental Noise Guidelines for the
			European Region.</p>



		</div>
		<div class="right">
		</div>
	    </div>
	</div>
    </body>
</html>
